.myJumbo {
    background: midnightblue;
    color: white;
    font-size: 18;
}

body {
    max-width: 900px;
    margin: 0 auto;
}

.p-custom {
    float: left;
}

.a-source {
    margin-left: 100px;
}